@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color1: #4B5945;
  --color2: #66785F;
  --color3: #91AC8F;
  --color4: #B2C9AD;
  --black: #20241e;
}


body {
  color: var(--color3);
  background: var(--color1);
  font-family: Arial, Helvetica, sans-serif;
}
